#main {
  margin-top:60px;
}

.container-fluid h1 {
  margin-top: 2em;
}

.simple-form *.ng-invalid {
  border: 1px solid red;
}

.simple-form .input-micro {
  width:32px;
  margin-left:0;
}

.simple-form label {
  margin-top:0.3em;
  font-size:1em;
}

/* field indent */
.simple-form input, .simple-form select {
  margin-left: 0px;
}

.simple-form input[type=checkbox] {
  margin-right: 0.66em;
  position:relative;
  top:-1px;
}

.simple-form textarea {
  width:95%;
  margin-left:0;
}

.simple-form h3 {
  color:#333;
  font-size:1.2em;
}

.simple-form .complication {
  margin-left:1em;
}

.simple-form .delete {
  font-size:0.8em;
  color:#999;
}

/* footer */
.roa-footer {
  margin-top:20px;
  background-color: #eee;
}

.roa-footer > div {
  padding-top:20px;
  color: #666;
  font-size: 90%;
}

.bare-icon {
  position: relative;
  top: -0.2em;
}

.birth-index .row-fluid {
  padding:0.5em 1em;
  border-bottom: 1px solid #eee;
}

.birth-index-filter {
  padding: 1em;
  background: #efefef;
}

.birth-index-table-header {
  background: #efefef;
}
.birth-index-table-header span {
  font-weight: bold;
}

.center { text-align:center; }
.left { text-align:left; }
.right { text-align:right; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.complication-bar {
  padding: 1em;
  background: #eee;
}

.add-complication {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  float: left;
  font-size: 0.9em;
}


.clear {
  clear: both;
}
