<div ng-controller="BirthEditCtrl" ng-cloak>
  <div class="page-header">
    <h1>Porod {{birth.seq_in_year}}</h1>
  </div>

  <div class="form-inline">
    <a href="#{{back}}" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Nazaj na seznam</a>
    <span ng-hide="readonly">&nbsp;
    <button ng-click="update(false)" class="btn">Shrani</button>&nbsp;
    <button ng-click="update(true)" class="btn btn-primary">
      <i class="icon-plus-sign icon-white"></i>&nbsp;Shrani in dodaj novega</button>
    </span>
  </div>

  <br/>
  <p ng-show="message" class="alert {{message_class}}">
    {{message}}
  </p>
  <form novalidate class="simple-form" name="form" novalidate>

    <!-- Osnovni podatki o porodu -->

    <div class="row-fluid">

      <div class="span3">
        <fieldset>
          <legend>Porod</legend>
          <label for="birth_date">Datum poroda</label>
          <input name="birth_date" class="input-medium" ng-readonly="readonly" ng-model="birth.birth_date" type="date" required/>

          <label for="doctor_id">Številka zdravnika</label>
          <input
          required
          type="number"
          min="1"
          ng-readonly="readonly"
          max="99999"
          name="doctor_id"
          class="input-mini"
          ng-model="birth.doctor_id"/>
          <div class="error" ng-show="form.phisitian_id.$error.REQUIRED">Required!</div>

          <label for="birth_id">Št. poroda</label>
          <input
          type="number"
          class="input-mini"
          ng-readonly="readonly"
          min="1"
          max="50000"
          name="birth_id"
          ng-model="birth.seq_in_year" required/>

          <label for="hospital">Porodnišnica</label>
          <select
            name="hospital"
            ng-readonly="readonly"
            required
            class="input-large"
            ng-model="birth.hospital"
            ng-options="x.id as x.name for x in domain.HOSPITAL">
            <option value="">-- Izberi --</option>
          </select>

          <label for="birth_sort">Dokončanje poroda</label>
          <select
            name="birth_sort"
            required
            class="input-large"
            ng-model="birth.birth_sort"
            ng-readonly="readonly"
            ng-options="x.id as x.name for x in domain.BIRTH_SORT">
            <option value="">-- Izberi --</option>
          </select>

          <div class="form-inline">
            <span>Apgar </span>
            <label for="apgar_1">1</label>
            <input
            type="number"
            min="0"
            ng-readonly="readonly"
            class="input-micro"
            max="10"
            name="apgar_1"
            ng-model="birth.apgar_1" required/>

            <label for="apgar_5">&nbsp;&nbsp;5</label>
            <input
            type="number"
            ng-readonly="readonly"
            min="0"
            max="10"
            class="input-micro"
            name="apgar_5"
            ng-model="birth.apgar_5" required/>
          </div>
        </fieldset>
      </div>

      <!-- porodnica -->
      <div class="span3">
        <fieldset>
          <legend>Porodnica</legend>


          <label for="birth_seq">Zaporedni porod</label>
          <input
          type="number"
          ng-readonly="readonly"
          min="1"
          max="30"
          class="input-micro"
          name="birth_seq"
          ng-model="birth.birth_seq" required/>

          <label for="patient_born">Leto rojstva porodnice</label>
          <input
          type="number"
          required
          min="1960"
          max="2002"
          ng-readonly="readonly"
          class="input-mini"
          name="patient_born"
          ng-model="birth.patient_born" />


          <label for="fetus_count">Število plodov</label>
          <input
          name="fetus_count"
          type="number"
          ng-readonly="readonly"
          min="1"
          max="5"
          class="input-micro"
          required
          ng-model="birth.fetus_count">

          <label for="fetus_position">Vstava ploda</label>
          <select
            name="fetus_position"
            ng-readonly="readonly"
            required
            class="input-medium"
            ng-model="birth.fetus_position"
            ng-options="x.id as x.name for x in domain.FETAL_POSITION">
            <option value="">-- Izberi --</option>
          </select>

          <label for="apgar_1">ASA</label>
          <input
          name="asa"
          type="number"
          min="0"
          max="5"
          ng-readonly="readonly"
          class="input-micro"
          required
          ng-model="birth.asa">

          <label for="patient_preparation">Priprava porodnice</label>

          <div ng-repeat="preparation in domain.PATIENT_PREPARATION">
            <input
            type="checkbox"
            ng-readonly="readonly"
            name="patient_preparation"
            ng-click="togglePreparation(preparation.id)"
            ng-checked="isPreparation(preparation.id)"
            />
            {{preparation.name}} <br/>
          </div>
        </fieldset>
      </div>

      <!-- Analgesias -->
      <div class="span6">
        <fieldset>
          <legend>Analgezije</legend>
          <div ng-include="'views/birth-analgesia.html'"></div>
          <select
            name = "add_analgesia"
            class = "input-medium"
            ng-hide="readonly"
            ng-model="analgesia_to_add"
            ng-options="x.id as x.name for x in domain.ANALGESIA" >
            <option value="">Dodaj analgezijo</option>
          </select>
        </fieldset>

        <!-- Notes -->
        <fieldset>
          <legend>Zapiski</legend>
          <textarea ng-readonly="readonly" ng-model="birth.notes" rows="9"></textarea>
        </fieldset>

      </div>
    </div>
  </form>
  <!-- <pre>form = {{birth | json}}</pre> -->
</div>
