<div ng-repeat="analgesia in birth.analgesias" style="position:relative">
  <div ng-controller="AnalgesiaCtrl">
    <h3>{{analgesia.id | idToName:domain.ANALGESIA}} <a ng-hide="readonly" ng-click="removeAnalgesia(birth.analgesias, analgesia.id)" class="delete bare-icon" title="izbriši"><i class="icon-remove"></i></a></h3>
    <div class="complication-bar">
    <p>Dodaj zaplet pri</p>
    <select
      name = "add_complication_1"
      ng-hide="readonly"
      ng-model="complication_to_add"
      class = "input-small add-complication"
      ng-options="c.id as c.name for c in selectComplication('Zaplet pri porodnici')"
      >
      <option value="">Porodnici</option>
    </select>

    <select
      name = "add_complication_2"
      ng-hide="readonly"
      ng-model="complication_to_add"
      class = "input-small add-complication"
      ng-options="c.id as c.name for c in selectComplication('Zaplet regionalne analgezije')"
      >
      <option value="">Analgeziji</option>
    </select>

    <select
      name = "add_complication_3"
      ng-hide="readonly"
      ng-model="complication_to_add"
      class = "input-small add-complication"
      ng-options="c.id as c.name for c in selectComplication('Zaplet pri plodu')"
      >
      <option value="">Plodu</option>
    </select>
    <div class="clear"></div>
  </div>

    <div ng-repeat="complication in analgesia.complications" style="position:relative">
      <div class="complication">{{complication | idToName:domain.COMPLICATION}}  <a ng-hide="readonly" ng-click="removeComplication(analgesia, complication)" class="delete bare-icon" title="izbriši"><i class="icon-remove">&nbsp;</i></a></div>
    </div>
  </div>
  <hr/>
</div>
