<div ng-controller="BirthIndexCtrl" ng-cloak>

  <div class="page-header">
    <h1>Seznam obporodnih analgezij</h1>
  </div>

  <div class="visible-phone">
    <a href="#/birth/new/" class="btn btn-primary btn-block btn-large pull-right visible-phone">Dodaj nov porod</a>
  </div>

  <div class="form-inline">

      <a href="#/birth/new/" class="btn btn-primary hidden-phone pull-right">
        <i class="icon-plus-sign icon-white"></i>&nbsp;Dodaj nov porod</a>

        <label class="checkbox">
          <input type="checkbox" ng-model="paging.show_all"> Prikaži tudi vnose drugih&nbsp;
        </label>
        <select 
          ng-options="key as value for (key, value) in sortables" 
          ng-model="paging.sort_by"
          class="span3">
        </select>
        <select 
          ng-options="key as value for (key, value) in page_size_options" 
          ng-model="paging.page_size"
          class="span3">
        </select>
  </div>

  <br/>
  <div ng-include="'views/pagination.html'" ></div>

  <div class="birth-index ">
    <div class="row-fluid hidden-phone birth-index-table-header">
      <span class="span1">#</span>
      <span class="span2">Datum poroda</span>
      <span class="span2">Porodnišnica</span>
      <span class="span1">Anestz.</span>
      <span class="span1">Zap. št.</span>
      <span class="span5">Analgezije in zapleti</span>
    </div>

    <div ng-repeat="birth in births">
      <div class="visible-phone">
        <div>
          <span>{{$index + (paging.page-1) * paging.page_size + 1}}.</span>
          Porod št: <b>{{birth.seq_in_year}}</b> na <b>{{birth.birth_date | date}}</b> v <b>{{birth.hospital | idToName:domain.HOSPITAL}}</b></div>
        <a href="#/birth/{{birth._id}}/" class="btn pull-right" >Podrobnosti</a>
        <div ng-repeat="a in birth.analgesias">
          <b>{{a.id | idToName:domain.ANALGESIA}}</b>
          <i ng-repeat="c in a.complications">{{c | idToName:domain.COMPLICATION}}&nbsp;</i>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span1 hidden-phone left">
          {{$index + (paging.page-1) * paging.page_size + 1}}
        </div>
        <div class="span2 hidden-phone">{{birth.birth_date | date}}</div>
        <div class="span2 hidden-phone"nowrap="nowrap">{{birth.hospital | idToName:domain.HOSPITAL}}</div>
        <div class="span1 hidden-phone">{{birth.doctor_id}}</div>
        <div class="span1 hidden-phone">{{birth.seq_in_year}}</div>
        <div class="span3 hidden-phone">
          <span ng-repeat="a in birth.analgesias">
            <b>{{a.id | idToName:domain.ANALGESIA}}</b>
            <i ng-repeat="c in a.complications">{{c | idToName:domain.COMPLICATION}}&nbsp;</i>
            <br/>
          </span>
        </div>
        <div class="span2 hidden-phone">
          <a href="#/birth/{{birth._id}}/" class="btn" ng-hide="is_birth_readonly(birth)"><i class="icon-pencil"></i>&nbsp; Popravi</a>
          <a href="#/birth/{{birth._id}}/" class="btn" ng-show="is_birth_readonly(birth)"><i class="icon-arrow-right"></i>&nbsp; Poglej</a>
        </div>
      </div>
    </div>

  <br/>
  <div ng-include="'views/pagination.html'"></div>
</div>
