<h1>Prenos podatkov</h1>

<p>Prenesi podatke v obliki csv</p>
  <a href="http://front.draagle.com/roa/stat/analgesia.csv" class="btn btn-primary" target="_blank">
    <i class="icon-download icon-white"></i>&nbsp;Prenesi podatke</a>

