<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">R.O.A..</a>
          <div class="nav-collapse in collapse" style="height: auto;">
            <ul class="nav">
              <li ng-class="{active: isPath('/birth')}">
                <a href="#/births/">Seznam analgezij</a>
              </li>

              <li ng-class="{active: isPath('/stat')}">
                <a href="#/stat/">Statistika</a>
              </li>

              <li ng-class="{active: isPath('/export')}">
                <a href="#/export/">Prenos podatkov</a>
              </li>

              <li>
              <a href="/social/logout/roa/" ng-hide="profile.is_anonymous">{{profile.first_name}}, odjavi se</a>
              </li>
            </ul>
          </div>
        </div>
  </div>
</div>
