<div ng-controller="StatCtrl">
  <h1>{{title}}</h1>

  <div class="row-fluid">
    <div class="span3">
    <label>Izberi porodnišnico</label>
    <select
      name="hospital"
      class="input-xlarge"
      ng-model="hospital"
      ng-options="x.id as x.name for x in hospitals">
      <option value="">Uporaba analg. vseh porod. skupaj</option>
    </select>
  </div>

  <div class="span9">
    <label>Način prikaza</label>
    <select
      name="chartType"
      class="input-large"
      ng-model="chart.type"
      ng-options="x.id as x.name for x in chartTypes">
    </select>
  </div>
</div>

  <div google-chart chart="chart" style="{{chart.cssStyle}}"/>
</div>

