<div ng-controller="UserRegisterCtrl">
<h1>Registracija obporodne analgezije</h1>
<form name="user_register">
  <label for="code">Prosim, vnesite aktivacijsko kodo, ki ste jo dobili po elektronski pošti.</label>
  <div id="message" >{{message}}</div>
  <br/>
  <input name="code" type="text" ng-model="code"/>
  <input type="submit" name="Aktiviraj!" ng-click="activate()"/>
</form>
</div>
